@font-face {
  font-family: "roboto";
  src: local("roboto"),
    url(../font/roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "pasajero";
  src: local("pasajero"),
    url(../font/pasajero/Pasajero-95AL.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

html {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  font-family: roboto;
}
